

/* 轮播图 */
.lunb .lun{
    width:100%;
    height:340px;
    background: url(../img/798479_zhyft-bg.jpg) no-repeat;
}
.slideBox {
    width: 100%;
    height: 340px;
    margin:0 auto;
    overflow: hidden;
    position: relative;
}
.slideBox .hd {
    height: 15px;
    overflow: hidden;
    position: absolute;
    right: 80px;
    bottom: 20px;
    z-index: 1;
    width:1180px;
    margin:0 auto;
}
.slideBox .hd ul {
    overflow: hidden;
    zoom: 1;
    /* float: left; */
    width:77px;
    height:15px;
    margin:0 534px;
    background: url(../img/banner-cur.png) no-repeat center;
    padding-left:35px;
}
.slideBox .hd ul li {
    float: left;
    margin-right: 9px;
    width: 9px;
    height: 9px;
    margin-top:3px;
    border-radius: 50%;
    line-height: 14px;
    text-align: center;
    background: #fff;
    cursor: pointer;
}
.slideBox .hd ul li.on {
    background: #f00;
    color: #fff;
}
.slideBox .bd {
    position: relative;
    height: 100%;
    z-index: 0;
}
.slideBox .bd li {
    zoom: 1;
    vertical-align: middle;
}
.slideBox .bd img {
    width: 100%;
    height: 340px;
    display: block;
}
/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,
.slideBox .next {
    position: absolute;
    left: 3%;
    top: 50%;
    margin-top: -25px;
    display: block;
    width: 32px;
    height: 40px;
    background: url(../img/slider-arrow.png) -110px 5px no-repeat;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.slideBox .next {
    left: auto;
    right: 3%;
    background-position: 8px 5px;
}
.slideBox .prev:hover,
.slideBox .next:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}
.slideBox .prevStop {
    display: none;
}
.slideBox .nextStop {
    display: none;
}



/* content */
.content{
    width:100%;
}
.content h3{
    width: 440px;
    margin-top: 40px;
    padding-bottom: 30px;
    font-size: 24px;
    color:#666666;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: url(../img/floor-title.png) 0 10px no-repeat;
}
.content_con{
    width:1180px;
    margin:0 auto;
    overflow: hidden;
}
.content_con li{
    width:380px;
    background: #fafafa;
    float: left;
}
.content_con li:nth-of-type(2){
    margin:0 20px;
}
.content_con li img{
    width:380px;
    cursor: pointer;
}
.content_con li p{
    line-height: 20px;
    font-size: 16px;
    color: #333;
    width: 100%;
    padding: 25px 10px 25px 15px;
}
.content_con li p a{
    color:#333;
    float: left;
    width: 210px;
    padding-right: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content_con li p a:hover{
    color:#f60;
}
.content_con li p span{
    font-size: 24px;
    color:#f60;
}
.content_con li p i{
    font-style: normal;
    color:#a69999;
}

.f2 .content_con li{
    width:280px;
}
.f2 .content_con li img{
    width:280px;
}
.f2 .content_con li a{
    width:124px;
}
.f2 .content_con li:nth-of-type(4n){
    margin-left:20px;
}

.f3 .content_con li{
    width:280px;
}
.f3 .content_con li img{
    width:280px;
}
.f3 .content_con li a{
    width:124px;
}
.f3 .content_con li:nth-of-type(4n){
    margin-left:20px;
}

.f1 .content_con{
    height:358px;
    overflow:visible;
}
.f1 ul{
    height:358px;
}
.f1 ul li{
    height:358px;
    position: relative;
}
.f1 li div{
    position: absolute;
    left:0px;
    top:0px;
}

.ff .content_con{
    height:283px;
    overflow:visible;
}
.ff ul{
    height:283px;
}
.ff ul li{
    height:283px;
    position: relative;
}
.ff li div{
    position: absolute;
    left:0px;
    top:0px;
}


/* design */
.design{
    width:100%;
    background: #fafafa;
}
.design_con{
    width:1180px;
    margin:0 auto;   
    margin-top:40px;
    position: relative;
}
.design_con .line{
    background: #dadada;
    width: 1180px;
    border-top: 1px solid #dadada;
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 1;
}
.design_con h3{
    font-size: 20px;
    font-weight: 400;
    width: 200px;
    line-height: 80px;
    color: #573926;
    background: #fafafa;
    margin:0 auto;
    text-align: center;
    z-index: 2;
    position: relative;
}
.design_con .sfq{
    width:1180px;
    overflow: hidden;
}
.design_con .sfq ul{
    width:1180px;
    overflow: hidden;
}
.design_con .sfq ul li{
    list-style: none;
    float: left;
    width:232px;
    height:349px;
    margin-right:5px;
    position: relative;
    cursor: pointer;
}
.design_con .sfq ul li:nth-of-type(1){
    background: url(../img/floor-1.jpg);
    background-position: center top;
}
.design_con .sfq ul li:nth-of-type(2){
    background: url(../img/floor-2.jpg);
    background-position: center top;
}
.design_con .sfq ul li:nth-of-type(3){
    background: url(../img/floor-3.jpg);
    background-position:center top;
}
.design_con .sfq ul li:nth-of-type(4){
    background: url(../img/floor-4.jpg);
    background-position:center top;
}
.design_con .sfq ul li:nth-of-type(5){
    background: url(../img/floor-5.jpg);
    background-position: center top;
    margin-right:0;
}
.design_con .sfq ul li a{
    display: block;
    width:100%;
    height:40px;
    background:#000;
    opacity: 0.3;
    position: absolute;
    left:0px;
    bottom:0px;
}
.design_con .sfq ul li p{
    position: absolute;
    left:0px;
    bottom:0px;
    color:#fff;
    font-size:18px;
    line-height: 40px;
    width:100%;
    text-align: center;
}

/* list */
.list{
    width:100%;
    background: #fff;
}
.list_con{
    width:1180px;
    height:132px;
    margin:0 auto;
    border-bottom: 1px solid #ebebeb;
}
.list_con ul{
    width:1180px;
    overflow: hidden;
    padding-top:40px;
}
.list_con li{
    float: left;
    padding-left: 80px;
    display: inline;
    line-height: 60px;
    background: url(../img/bottom-ulbg.png) no-repeat;
}
.list_con li:nth-of-type(n){
    background-position: 0px 0px;
    margin-right:120px;
}
.list_con li:nth-of-type(2n){
    background-position: 0px 0px;
    margin-right:127px;
}
.list_con li:nth-of-type(3n){
    background-position: 0px 0px;
    margin-right:0px;
}
.list_con li a{
    font-size: 18px;
    color: #573926; 
}





/* footer */
footer{
    width:100%;
    background: #fafafa;
}
.footer_con{
    width:1180px;
    height:63px;
    margin:0 auto;
    padding:15px 0 30px 0;
}
.footer_con ul{
    overflow: hidden;
    margin-bottom: 15px;
}
.footer_con li{
    float: left;
    line-height: 14px;
    border-right:1px solid #f1ebe7;
}
.footer_con li a{
    font-size: 14px;
    padding:0 20px;
    color: #999;
}
.footer_con li a:hover{
    color:#f60;
}
.footer_con li:nth-of-type(1) a{
    padding-left:0px;
    color: #f60;
}
.footer_p{
    overflow: hidden;
    position: relative;
}
.footer_p a{
    padding: 5px 20px 5px 0;
    font-size: 12px;
    color: #999;
    display: inline-block;
    float: left;
    white-space: nowrap;
}
.footer_p a:hover{
    color:#f60;
}
.footer_p .iconfont{
    font-size: 14px;
    position: absolute;
    right:0px;
    top:4px;
}

