body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
input{
	outline: none;
}
img{
    display: block;
    border:none;
}
body{
	font-family: "微软雅黑";
}
ul,li{
	list-style: none;
}

/* head */
.head{
    width:100%;
    height:38px;
    background: #f4f4f4;
}
.head_con{
    width:1180px;
    height: 38px;
    line-height: 38px;
    margin:0 auto;
}
.head_con .conL{
    width:108px;
    height:36px;
    border:1px solid transparent;
    line-height: 38px;
    text-indent: 9px;
    float: left;
    font-size:12px;
    color: #333333;
    position: relative;
    cursor: pointer;
}
.head_con .conL .iconfont{
    vertical-align: middle;
    font-size:12px;
    color: #333333;
    position: absolute;
    right:8px;
    top:2px;
}
.head_con .conL .icon-down{
    display: none;
}
.head_con .conR{
    float:right;
}
.conL .ul{
    width:340px;
    height:100px;
    background: #fff;
    overflow: hidden;
    border:1px solid #e7e7e7;
    padding:17px 0px 28px 10px;
    position: absolute;
    left:-1px;
    top:36px;
    display: none;
    z-index: 10;
}
.conL .ul a{ 
    font-size:12px;
    color: #333333;
    float:left;
    margin-bottom: 10px;
    width: 54px;
    height: 18px;
    line-height: 18px;
    margin-left: 10px;
    text-align: center; 
}
.conL .ul a:first-of-type{
    background-color: #f60;
    color: #fff;
}
.conL .ul a:hover{
    background-color: #f4f4f4;
}
.conR li{
    float: left;
    height:38px;
    font-size:12px;
    color: #333333;
    line-height: 38px;
}
.conR li:hover{
    background: #fff;
}
.conR li:first-of-type:hover,.conR li:last-of-type:hover{
    background: #f4f4f4;
}
.conR li a{
    color: #333333;
    padding:0 20px;
    border-right:1px solid #cccccc;
    border-left:1px solid transparent;
    margin:0 auto;
}
.conR li img{
    float: left;
    margin-left:20px;
    margin-right:-18px;
    margin-top:12px;
}
.conR li a:hover{
    color: #f60;
}
.conR .last{
    border:none;
    margin:0;
    padding-left:20px;
    color: #666666;
}
.conR li .signIn{
    border:none;
    margin:0;
    padding:0;
    color: #666666;
}
.conR li .register{
    padding-left:0;
}
.conR li .icon-icon--{
    margin-right:-18px;
    margin-left: 20px;
    color:#999999;
}
.conR li span{
    color: #ff6600;
}

.person{
    position: relative;
    border:1px solid transparent;
    border-bottom:none;
}
.person ul{
    width:87px;
    background: #fff;
    border:1px solid #cccccc;
    border-top:none;
    padding-left:20px;
    display: none;
    position: absolute;
    left:-1px;
    z-index: 10;
}
.person ul li{
    display: block;
    cursor: pointer;
}

.shopcar{
    position: relative;
    border:1px solid transparent;
    border-bottom:none;
}
.shopcar .cont{
    width:315px;
    background: #fff;
    border:1px solid #cccccc;
    border-top:none;
    padding:18px 0px 18px 20px;
    display: none;
    position: absolute;
    left:-1px;
    z-index: 10;
}
.shopcar .cont p{
    color:#999999;
}
.shopcar .cont a{
    display: block;
    width:120px;
    height:24px;
    line-height: 24px;
    padding:0;
    font-size: 14px;
    text-align: center;
    color:#fff;
    background: #f60;
    border-radius: 5px;
    margin-left:183px;
    margin-top:20px;
}
.shopcar .cont a:hover{
    color:#fff;
}

/* tit */
.tit{
    width:100%;
    background: #fff;
}
.tit_con{
    width:1180px;
    height:89px;
    padding-top:20px;
    margin:0 auto;
}
.tit_con .img1{
    float: left;
    cursor: pointer;
    padding-top:10px;
}
.tit_con .inp{
    float:left;
    width: 460px;
    margin-left: 130px;
    display: inline-block;
}
.tit_con .img2{
    float: right;
}
.shangmo a{
    float: left;
    display: inline;
    padding: 0 12px;
    height: 26px;
    font-size: 14px;
    line-height: 26px;
    color: #ff4200;
    cursor: pointer;
}
.shangmo .a1{
    background: #f60;
    color: #fff;
}
.inptt input:nth-of-type(1){
    background: #ffffff;
    width: 358px;
    height: 18px;
    float: left;
    display: inline-block;
    border: 2px solid #ff6600;
    border-right: 0;
    padding: 8px;
    box-sizing: content-box;
    font: 14px/18px "Microsoft Yahei", Verdana, Tahoma, sans-serif;
    color: #999999;
}
.inptt input:nth-of-type(2){
    background: url(../img/icon-S.jpg) no-repeat left top;
    width: 61px;
    height: 38px;
    cursor: pointer;
    border: 0;
    float: left;
}  
.inptt .inpBtn:hover{
    background: url(../img/icon-Shover.jpg);
}

.lunb{
    width:100%;
    /* height:390px; */
    position: relative;
}
.lunb .nav{
    width:100%;
    height:50px;
    background: #4e433d;
}
.nav ul{
    width:1180px;
    margin:0 auto;
}
.nav li{
    width: 118px;
    height:50px;
    line-height: 50px;
    position: relative;
    text-align: center;
    display: inline-block;
    float: left;
}
.nav li a{
    width:118px;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    position: relative;
    padding-right: 20px;
    text-align: center;
}
.nav .li01{
    background: url(../img/icon-all.png) no-repeat 14px center;
}
.syou{
    text-indent: 25px;
}
.nav .icon-down{
    font-size: 12px;
}
.nav li{
    position: relative;
}
.nav li:hover{
    background:#675d57;
}
.nav .li01:hover{
    background:#675d57 url(../img/icon-all.png) no-repeat 14px center;
}
.nav .li02 img{
    position: absolute;
    right:16px;
    top:1px;
}
.nav .li03 img{
    position: absolute;
    right:24px;
    top:1px;
}
.nav .li08 img{
    position: absolute;
    right:9px;
    top:1px;
}
.nav .li10 i{
    background:url(../img/icon-bq.png) no-repeat -83px 0;
    width: 63px;
    height: 15px;
    display: block;
    position: absolute;
    left: 27px;
    top: 4px;
    z-index: 5;
}
.nav .li01_ul{
    width:200px;
    background: #fffdfc;
    position: absolute;
    left:0px;
    top:50px;
    z-index: 6;
}
.nav .li01_ul .ul_div{
    padding-left:20px;
    padding-top:12px;
    line-height: 28px;
    text-align: left;
    cursor: pointer;
    z-index: 5;
}
.nav .li01_ul p{
    text-indent: 0;
    line-height: 14px;
    font-weight: 600;
    color: #333;
    font-size: 14px; 
}
.nav .li01_ul span{
    color: #999;
    font-size: 12px;
}
.nav .liul{
    position: relative;
}
.nav .li0_ul{
    width:1180px;
    height:200px;
    position: absolute;
    left:-118px;
    top:50px;
    z-index: 2;
}
.nav .li0_ul div{
    margin-top:35px;
    width:220px;
    height:130px;
    background: #fff;
    padding-bottom:20px;
    border-right:1px solid #e7e7e7;
    float: left;
    position: relative;
    cursor: pointer;
}
.nav .li0_ul div:last-of-type:hover{
    background: #fff;
}
.nav .li0_ul div:hover{
    background: #fafafa;
}
.nav .li0_ul div:first-of-type{
    border-left:1px solid #e7e7e7;
}
.nav .li0_ul div:last-of-type{
    width:70px;
    border:none;
}  
.nav .li0_ul div img{
    position: static;
}
.nav .li0_ul div a{
    width:100%;
    padding:0;
    display: block;
    margin:0 auto;
    line-height: 16px;
    color:#333333;
    font-size: 16px;
    margin-bottom: 11px;
}
.nav .li0_ul div span{
    background: #fff;
    width:221px;
    display:block;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color:#f60;
}
.nav .li0_ul div:hover .nav .li0_ul div a{
    color:#f60;
}
.nav .li0_ul div span:nth-of-type(1){
    width:222px;
    position: absolute;
    left:-1px;
    bottom:0px;
}
.nav .li0_ul div .more{
    position: absolute;
    left:20px;
    top:110px;
    cursor: pointer;
}
.nav .li0_ul div .more_p{
    background: #fff;
    font-size:14px;
    line-height: 14px;
    color:#f60;
    position: absolute;
    left:26px;
    top:114px;
    display: none; 
    cursor: pointer;
}
.nav .li03 .li0_ul{
    display: block;
    left:-236px;
    top:50px;
}
.nav .li05 .li0_ul{
    display: block;
    left:-472px;
    top:50px;
}
.nav .li06 .li0_ul{
    display: block;
    left:-590px;
    top:50px;
}
.nav .li07 .li0_ul{
    display: block;
    left:-708px;
    top:50px;
}
.nav .li08 .li0_ul{
    display: block;
    left:-826px;
    top:50px;
}
.nav .li09 .li0_ul{
    display: block;
    left:-944px;
    top:50px;
}

/* 三级菜单 */
.ul_div{
    position: relative;
}
.ul_div .uls{
    width:790px;
    height:455px;
    background: #fff;
    position: absolute;
    left:200px;
    top:-1px;
    border:1px solid #675d57;
    cursor: auto;
    padding-left:33px;
    overflow: hidden;
    /* display: none; */
}
.uls_con{
    width:517px;
    float: left;
}
.uls_img{
    float: left;
    margin-top:30px;
}
.uls_img .lt{
    margin-top:20px;
}
.ul_div dl{
    overflow: hidden;
    cursor: pointer;
    margin-top:12px;
}
.ul_div dl:hover{
    color: #f60;
}
.ul_div dt{
    text-align: center;
    float: left;
    font-size: 14px;
    color:#675d57;
    padding-right:56px;
    margin-top:10px;
}
.ul_div dd{
    width:405px;
    line-height:24px;
    float: left;
    text-align: left;
    margin-top:10px;
}
.ul_div dd a{
    display: inline;
    font-size: 12px;
    color:#333333;
}
.ul_div dd a:hover{
    color: #f60;
}
.ul_div .uls2{
    top:-56px;
    display: none;
}  
.ul_div .uls3{
    top:-111px;
    display: none;
}
.ul_div .uls4{
    top:-166px;
    display: none;
}
.ul_div .uls5{
    top:-221px;
    display: none;
}
.ul_div .uls6{
    top:-276px;
    display: none;
}
.ul_div .uls7{
    top:-331px;
    display: none;
}
.ul_div .uls8{
    top:-386px;
    display: none;
}
/* 白线 */
.fff{
    width:10px;
    height:55px;
    z-index: 6;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    background: #fff;
    position: absolute;
    right: -2px;
    top:-1px;
}


.lunb .white{
    width:100%;
    height:200px;
    background: #fff;
    position: absolute;
    z-index: 2;
}






/* fix */
.fix{
    width: 5px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0; 
    z-index: 999999;
    background-color: #4e433d;
}
.fix ul{
    width:40px;
    height:250px;
    background: url(../img/rside_bg.png) no-repeat;
    position: absolute;
    left: -30px;
    top: 50%;
    z-index: 99999;
    margin-top: -119px;
    padding-top: 11px;
}
.fix ul li{
    width: 40px;
    height:40px;
    text-align: center;
    position: relative;
}
.fix ul li a{
    background: #4e433d;
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    z-index: 2;
}
.fix ul li:nth-of-type(1) a{
    background: url(../img/tel.png) no-repeat center;
    left:0px;
    top:-2px;
}
.fix ul li:nth-of-type(2) a{
    background: url(../img/weixin.png) no-repeat center 10px;   
    padding-top:36px;
    left:0px;
    top:1px;
    color: #cccccc;
    font-size: 12px;
    height: 66px;
}
.fix ul li:nth-of-type(3) a{
    background: url(../img/fankui.png) no-repeat center;
    left:0px;
    top:64px;
}
.fix ul li:nth-of-type(4) a{
    background: url(../img/top.png) no-repeat center;
    left:0px;
    top:65px;
}
/* 划过 */
.fix_a{
    position:relative;
}
.a_div{
    width:108px;
    height:40px;
    padding-left:12px;
    color: #fff;
    background: #f60;
    position: absolute;
    left:-120px;
    top:0px;
    border-top-left-radius:10px; 
    border-bottom-left-radius:10px;
}
.a_div p{
    font-size: 12px;
    line-height: 12px;
    margin:4px 0px 2px 0px;
    text-align: left;
}
.a_div span{
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    margin-left:-6px;
}
.a3_div{
    width:60px;
    left:-72px;
    top:0px;
}
.a3_div p{
    margin-top:13px;
}
.a4_div{
    width:75px;
    left:-87px;
    top:0px;
}
.a4_div p{
    margin-top:13px;
}